.main__container main {
    grid-area: main;
    padding: 0 4rem;
    grid-template-columns: 100%;
}

.main__container{
    display: grid;
    grid-template-areas:
        'section-title'
        'contato';
        gap: 2rem;
}

.section__title{
    grid-area: 'section-title';
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.section__content{
    display: flex;
    flex-wrap: wrap; 
    grid-area: 'contato';
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 1rem;
}

#section__form {
    display: flex;
    width: 40%; 
    flex-direction: column; 
    justify-content: center;
}

#section__form label {
    margin-bottom: 5px;
}

#section__form input,
#section__form textarea {
    width: 100%;
    margin-bottom: 15px; 
    padding: 10px;
}

#section__form input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 5px;
}

.section__content img {
    max-width: auto;
    height: auto;
}

#section__form input:not([type="submit"]),
#section__form textarea {
    border-radius: 5px;
    padding: .5rem;
    border: 1px solid var(--button-color);
    background-color: var(--input-color);
}

#section__form textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
    flex: 2 100%; 
}

#section__form img {
    width: 40%;
}

@media screen and (max-width: 375px) {
    .section__content {
        flex-direction: column-reverse;
        align-items: center;
    }

    #section__form {
        width: 100%;
    }

    .section__content img {
        width: 80%;
        height: auto;
        margin-bottom: 1rem;
    }

    #section__form input,
    #section__form textarea,
    #section__form input[type="submit"] {
        width: 100%;
    }
}
