#header__container{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    grid-area: header;
    flex-direction: column;
    display: flex;

}

.nav__container{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    justify-content: space-around;
    align-items: center;
}

.header__logo{
    display: flex;
    gap: 1rem;
    align-items: center;
}

#header__links{
    display: flex;
    list-style: none;
}

nav ul li{
    text-decoration: none;
    color: var(--secondary-color);
  }

nav ul li:hover{
    background-color:var(--hover-color);
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    border-radius: 5px;
    padding: .5rem 1rem;
    transition: all .5s;
    font-size: 1.2rem;
  }

.header__mobile{
    display: none;
}

